* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
  color: white;
}

body, html, #root {
  background-image: linear-gradient(180deg,rgba(30, 30, 30, 1) 0%, rgba(0, 17, 61, 1) 100%);
  height: 100%;
  color: white;
}

.rdp-root {
  --rdp-accent-color: indigo;
  --rdp-accent-background-color: #ff0000;
  --rdp-accent-background-color: #14ae52;
  --rdp-today-color: yellow;
  
}




